{% load i18n %}
{% load threadedcommentstags %}
  {% if object.allow_comments %}
  <div id="comment_form" class="column span-17 last">
  <h3 class="title">{% trans "Make a comment!" %}</h3>
<div id="comment-suggest">
<p><strong>{% trans "About Comments" %}</strong></p>
<p>
{% blocktrans %}
Your email won't be published for any reason. It's only kept for archive reasons if i want to contact you.
You can use markdown syntax.
{% endblocktrans %}
</p>
</div>
    <form method="POST" action="{% get_free_comment_url object %}">
            {% get_free_threaded_comment_form as form %}
            {{ form.as_p }}
            <p><input type="submit" value="{% trans "Submit Comment" %}" /></p>
    </form>
  {% else %}
      <h3>{% trans "Comments are closed." %}</h3>
      <p>{% trans "Comments have been close for this post." %}</p>
  {% endif %}
  </div>
