{% load i18n %}
{% load cache %}
  {% if object.allow_comments %}
{% cache 86400 form object.pk LANGUAGE_CODE %}
  <div id="comment_form" class="column span-17 last">
  <h3 class="title">{% trans "Make a comment!" %}</h3>
<div id="comment-suggest">
<p><strong>{% trans "About Comments" %}</strong></p>
<p>
{% blocktrans %}
Your email won't be published for any reason. It's only kept for archive reasons if i want to contact you.
You can use <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a>.
{% endblocktrans %}
</p>
</div>
    {% load threadedcommentstags lanatatags %}
    <form method="post" action="{% get_free_comment_url object %}">
            {% get_nomarkup_comment_form as form %}
            {{ form.as_p }}
            <p><input type="submit" value="{% trans "Submit Comment" %}" /></p>
    </form>
{% endcache %}
  {% else %}
      <h3>{% trans "Comments are closed." %}</h3>
      <p>{% trans "Comments have been close for this post." %}</p>
  {% endif %}
  </div>
